---
layout: default
title: Projects
---

<div class="container max-w-prose px-4">
  <div class="prose prose-slate dark:prose-invert mb-4">
    <h2>Projects</h2>
  </div>

  <ul>
  {% for project in collections.projects.resources %}
    {% render "project", project: project %}
  {% endfor %}
  </ul>
</div>
